$color-background: #003566;
$color-panel-background: #001d3d;
$color-tertiary: #f77f00;
$color-btn:#001d3d;
$color-btn-disabled:#dee2e6;
$color-btnChkd: #ff6d00;
$color-border:#f15bb5;
$color-font:#ffc300;
$color-fontSecondary:#196bde;
$color-trueAns: #8ac926;
$color-wrngAns: #ff595e;

$font-large: 35px;
$font-big: 30px;
$font-medium: 25px;
$font-small: 20px;
$font-mini: 15px;

$font-media-large: 25px;
$font-media-big: 20px;
$font-media-medium: 15px;
$font-media-small: 12px;
$font-media-mini: 10px;

$font-options: 'Abel', sans-serif;
$font-heading:'Tourney', cursive;
$font-sub-heading:'Rajdhani', sans-serif;
$font-question: 'Abel', sans-serif;

@mixin flexParameters {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin textParameters {
    margin: 0;
    padding: 10px;
}

@mixin question{
    font-family: $font-question;
    font-size: $font-medium;
    padding-bottom: 30px;
}

.border {
    border: 2px solid $color-border;
    border-radius: 25px;
}

@mixin border-btn {
    border: 2px solid $color-border;
    border-radius: 5px;
}

.btn-primary {
    width: 150px;
    height: 40px;
    margin: 20px;
    color: $color-font;
    font-size: $font-small;
    font-family: $font-sub-heading;
    background-color: $color-btn;
    @include border-btn;
    text-shadow: none;
    text-align: center;
}

@mixin btn-disabled {
    background-color:$color-panel-background;
    color: #6c757d;
    @include border-btn;
}

@mixin btn-small {
    width: 100px;
    height: 30px;
    margin: 10px;
    color: $color-font;
    font-size: $font-media-small;
    font-family: $font-sub-heading;
    background-color: $color-btn;
    border: 1px solid $color-border;
    border-radius: 5px;
    text-shadow: none;
    text-align: center;
}