@import "../styles/stylesUtils.scss";

.questionWrapper{
    @include flexParameters;
    flex-direction: column;
    p {
        @include question
    }
    .textArea {
        -webkit-appearance: none;
        height: 100%;
        @extend .border;
        border-radius: 5px;
        width: 350px;
        margin: 90px auto;
        text-align: start;
        height: 100px;
        font-size: $font-large;
        font-family: $font-options;
    }
}

@media (max-width:768px){
    .questionWrapper{
        p {
            font-size: $font-media-medium;
        }
        .textArea {
            width: 250px;
        }
    }
}