@import "./styles/stylesUtils.scss";

*{
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  @include flexParameters;
  flex-direction: column;
  height: 100vh;
  background-color: $color-background;
  color: $color-font;
}

@media (max-width:768px){
  body{
    margin: 8px;
  }
}